@font-face {
    font-family: 'CookieRunOTF-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url("/image/background.jpg");
    background-size: 100% 100vh;
}

img {
    max-width: 30%;
}

.container { 
    display: grid;
    width: 100%;
    height: 98vh;
    grid-template-columns: 1fr 1fr 1fr; /* 가로 */
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; /* 세로 */
    gap: 20px 20px; /* 컨테이너간 간격 */
    grid-auto-flow: row;
    grid-template-areas:
        "instagram instagram youtube"
        "instagram instagram youtube"
        "spotify github github"
        "asked github github"
        "asked discord discord";
}

.subcontainer {
    display: block;
    text-align: center;
}

.image-text {
    color: #ffffff;
    font-family: "CookieRunOTF-Bold";
    font-size: 5vh;
}

.instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: instagram;
    width: 100%;
    height: 100%;
    background-color: #d58eff81;
}

.youtube {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-area: youtube;
    width: 100%;
    height: 100%;
    background-color: #ff1e0081;
}

.spotify {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-area: spotify;
    width: 100%;
    height: 100%;
    background-color: #00c01a81;
}

.github {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-area: github;
    width: 100%;
    height: 100%;
    background-color: #00000081;
}

.asked {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-area: asked;
    width: 100%;
    height: 100%;
    background-color: #3cb8ff81;
}

.discord {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-area: discord;
    width: 100%;
    height: 100%;
    background-color: #5c67ff81;
}